.coordonnee{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 15px;
}
.coordonnee h3,p{
    color: white;
    margin: 0;
}
.coordonnee p{
    font-size: 15px;
}
