h2 {
    font-size: 32px;
    font-weight: 800;
    position: relative;
    text-align: center;
    color: black;
    width: 100%;
    margin: 100px;
}
h2 span {
    font-size: 80px;
    font-weight: 800;
    left: 0;
    top: -80%;
    right: 0;
    opacity: .03;
    position: absolute;
    text-align: center;
    z-index: 0;
}