.section_footer ,.div_footer,.menu
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondary-color);
}
.section_footer {
    padding: 50px 0;
    background-color : var(--primary-color);
    justify-content: space-between;
    padding: 20px 10%;
}

.div_footer{
    width: 100%;
    text-align: center;
    flex-direction: row;
}
.div_footer :nth-child(n){
    width: 25%;
}
.section_footer img{
    width: 100px;
    margin: 0;
    object-fit: contain;
}
.menu{
    width: 100%;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
.menu a{
    color: var(--secondary-color);
}
#icone_mode {
    width: 30px;
    height: 30px;
    color: var(--secondary-color);
    cursor: pointer;
}
.petit_text{
    font-size: 10px;
}
@media (max-width: 770px) {
    .div_footer :nth-child(n){
        width: 20%;
    }
    .div_reseau{
        min-width: 60%;
        justify-content: center;
    }
}

