.section_head{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
color: white;
}
.section_head{
    flex-direction: column;
    background-color: var(--primary-color);
    height: 100vh;
}
.avatar{
    width: 250px;
}
.section_head .line {
    background-color: white; 
}