.section_projet{
    background-color: rgb(211, 228, 225);
    height: 100vh;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.section_projet .line {
    background-color: var(--secondary-color);/* Force la couleur de fond pour les lignes dans la section */
}