.section_projet {
    background-color: var(--White-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.section_projet .line {
    background-color: var(--secondary-color);
    /* Force la couleur de fond pour les lignes dans la section */
}

.project-wrap,
.projet_div,.projet_cadre,.projet_div_pointer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-wrap {
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin-bottom: 100px;
}

.projet_div {
    position: relative;
    z-index: 1;
    width: 30%;
    height: 300px;
}

.projet_div:hover {
    cursor: pointer;
}
.projet_cadre,.projet_div_pointer{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.projet_cadre .immage_projet{
    width: 70%;
    height: 70%;
    border-radius: 100px;
}

.projet_div_pointer{
    position: absolute;
<<<<<<< HEAD
    z-index: 1;
=======
    z-index: -1;
>>>>>>> af6d8a7a916005ce50fc7b4b674ae1950acf5131
    background-color: var(--primary-color);
    opacity: 0;
    transition: opacity 0.1s ease;
}
.projet_div_pointer:hover{
    opacity: 0.8;
}
.fa-plus{
    font-size: 75px;
    color: var(--White-color) ;
    opacity: 1;
}
@media screen and (max-width:1000px) {
    .projet_div {
        width: 40%;
    }
}

@media screen and (max-width:700px) {
    .projet_div {
        width: 60%;
    }
}