*{
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color: #001624; /* Couleur principale */
    --secondary-color: white;/* Couleur secondaire */
    --White-color: white;
}
body.dark-mode {
    /* Valeurs pour le mode sombre */
    --primary-color: rgba(118, 118, 118, 0.515); /* Couleur principale en mode sombre (vert menthe) */
    --secondary-color: black;/* Couleur secondaire - mode sombre */
    --background-dark: #2c3e50; /* Fond sombre */
}

h1 {
    font-size: 50px;
    color: var(--secondary-color);
    font-weight: 800;
}
h2 {
    font-size: 50px;
    font-weight: 800;
    margin-top: 50px;
}
h3 {
    color: var(--secondary-color);
    font-weight: 800;
}
h4 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 30px;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-color);
    font-size: 20px;
}

@media screen and (max-width:1000px) {
    h2 {
        font-size: 40px;
    }
}