*{
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary-color: rgba(26, 188, 156, 1); /* Couleur principale */
    --secondary-color: rgba(44, 62, 80, 1); /* Couleur secondaire */
    --White-color: white;
    --Black-color: black;
}

h1 {
    font-size: 50px;
    color: white;
    font-weight: 800;
}
h2 {
    font-size: 50px;
    font-weight: 800;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}
.lines-star{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 75px;

}
.line{
    width: 100px;
    height: 5px;
    margin: 10px;
}
.fa-star{
    font-size: 30px;
}
